launch.json
wakapi
build
/dist
/tmp
*.exe
*.db
*.zip
config*.yml
!config.default.yml
!testing/config.*.yml
pkged.go

# node
.DS_Store
package-lock.json
node_modules
.npmrc
.cache
.eslintcache

# Editor directories and files
.idea
.vscode

# yarn2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
