launch.json
.vscode
wakapi
.idea
build
*.exe
*.db
*.zip
config*.yml
!config.default.yml
!testing/config.*.yml
pkged.go
package-lock.json
node_modules
tmp
*log
notes.DS_Store
notes
.DS_Store
*wakana
wakana
./wakana
