<footer class="flex justify-between w-full text-center text-gray-500 text-xs mt-12">
    <div class="text-xs font-mono">
        v{{ getVersion }} @ {{ getDbType }}
    </div>
    <div>
        Made with &nbsp; <span class="iconify inline" data-icon="bi:heart-fill"></span> &nbsp; by <a href="https://muetsch.io" class="border-b border-green-700">Ferdinand Mütsch</a> as <a
                href="https://github.com/muety/wakapi" class="border-b border-green-700">open-source</a> software
    </div>
    <div>
        <a href="imprint" class="border-b border-green-700">Imprint, Cookies & Data Privacy</a>
    </div>
</footer>

<script type="text/javascript">
    const baseUrl = location.href.substring(0, location.href.lastIndexOf('/'))
    document.querySelectorAll('.with-url-src').forEach(e => {
        e.setAttribute('src', e.getAttribute('src').replace('%s', baseUrl))
        e.classList.remove('hidden')
    })
    document.querySelectorAll('.with-url-src-no-scheme').forEach(e => {
        const strippedUrl = baseUrl.replace(/https?:\/\//, '')
        e.setAttribute('src', e.getAttribute('src').replace('%s', strippedUrl))
        e.classList.remove('hidden')
    })
    document.querySelectorAll('.with-url-inner').forEach(e => {
        e.innerHTML = e.innerHTML.replace('%s', baseUrl)
        e.classList.remove('hidden')
    })
    document.querySelectorAll('.with-url-inner-no-scheme').forEach(e => {
        const strippedUrl = baseUrl.replace(/https?:\/\//, '')
        e.innerHTML = e.innerHTML.replace('%s', strippedUrl)
        e.classList.remove('hidden')
    })
</script>