<footer class="absolute inset-x-0 bottom-0 flex justify-between w-full text-muted mt-20 items-center gap-x-4 py-4 max-w-screen-xl mx-auto">
    <div class="text-xs font-mono font-semibold">
        {{ getVersion }} @ {{ getDbType }}
    </div>
    <div class="font-semibold text-sm">
        Made with &nbsp; <span class="iconify inline" data-icon="bi:heart-fill"></span>&nbsp; by
        <a href="https://muetsch.io" class="text-secondary hover:text-foreground">Ferdinand Mütsch</a> as
        <a href="https://github.com/muety/wakapi" class="text-secondary hover:text-foreground">open-source</a> software
    </div>
    <div class="text-sm">
        <a href="imprint" class="font-semibold hover:text-secondary">Imprint, Cookies & Data Privacy</a>
    </div>
</footer>
