<footer class="flex justify-between w-full text-center text-gray-500 text-xs mt-12">
    <div class="text-xs font-mono">
        v{{ getVersion }} @ {{ getDbType }}
    </div>
    <div>
        Made with &nbsp; 🤍 &nbsp; by <a href="https://muetsch.io" class="border-b border-green-700">Ferdinand Mütsch</a> as <a
                href="https://github.com/muety/wakapi" class="border-b border-green-700">open-source</a> software
    </div>
    <div>
        <a href="imprint" class="border-b border-green-700">Imprint, Cookies & Data Privacy</a>
    </div>
</footer>