<head>
    <title>Wakapi – Coding Statistics</title>
    <base href="{{ getBasePath }}/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta property="og:title" content="Wakapi - Coding Statistics" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Wakapi is an open-source tool that helps you keep track of the time you have spent coding on different projects in different programming languages and more. Ideal for statistics freaks and anyone else.">
    <meta property="og:image" content="assets/images/screenshot.webp" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <link href="assets/vendor/source-sans-3.css" rel="stylesheet">
    <link href="assets/css/app.dist.css" rel="stylesheet">
    <script src="assets/vendor/petite-vue.min.js" defer></script>
</head>