<head>
    <title>Wakapi – Coding Statistics</title>
    <base href="{{ getBasePath }}/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <link href="assets/vendor/roboto.css" rel="stylesheet">
    <link href="assets/vendor/tailwind.dist.css" rel="stylesheet">
    <link href="assets/app.css" rel="stylesheet">
</head>