<!DOCTYPE html>
<html lang="en">

{{ template "head.tpl.html" . }}

<body class="bg-gray-900 text-gray-700 p-4 pt-10 flex flex-col min-h-screen max-w-screen-lg mx-auto justify-center">

{{ template "header.tpl.html" . }}

<main class="mt-10 flex-grow flex w-full">
    <div class="flex-grow max-w-4xl flex flex-col">
        <h1 class="h1">Imprint & Data Privacy</h1>
        <p>
            {{ htmlSafe .HtmlText }}
        </p>
    </div>
</main>

{{ template "footer.tpl.html" . }}

{{ template "foot.tpl.html" . }}
</body>

</html>