<!DOCTYPE html>
<html lang="en">

{{ template "head.tpl.html" . }}

<body class="bg-gray-900 text-gray-700 p-4 pt-10 flex flex-col min-h-screen max-w-screen-lg mx-auto justify-center">

{{ template "header.tpl.html" . }}

{{ template "alerts.tpl.html" . }}

<main class="mt-10 flex-grow flex justify-center w-full">
    <div class="flex-grow max-w-lg mt-10">
        <div class="mb-8">
            <h1 class="h1">Choose a new password</h1>
            <span class="h1-subcaption">You have requested to reset your password. Please choose a new one.</span>
        </div>
        <form action="set-password" method="post">
            <div class="mb-4">
                <input class="input-default"
                       type="password" id="password"
                       name="password" placeholder="Choose a password" minlength="6" required>
            </div>
            <div class="mb-4">
                <input class="input-default"
                       type="password" id="password_repeat"
                       name="password_repeat" placeholder="Repeat your password" minlength="6" required>
            </div>
            <div class="flex justify-end items-center">
                <input type="hidden" name="token" value="{{ .Token }}">
                <button type="submit" class="btn-primary">Save</button>
            </div>
        </form>
    </div>
</main>

{{ template "footer.tpl.html" . }}

{{ template "foot.tpl.html" . }}
</body>

</html>