<!DOCTYPE html>
<html lang="en">

{{ template "head.tpl.html" . }}

<script>
    // Constants
    const timeSelection = '{{ .From | datetime }} - {{ .To | ceildate | datetime }}'
    const fromDate = '{{ .From | simpledate }}'
    const toDate = '{{ .To | ceildate | simpledate }}'

    // Elements
    const formTimePicker = document.getElementById('time-picker-form')
</script>
<script type="module" src="assets/js/components/summary.js"></script>

<body class="relative bg-gray-900 text-gray-700 p-4 pt-10 flex flex-col min-h-screen max-w-screen-xl mx-auto justify-center">

{{ template "menu-main.tpl.html" . }}

{{ template "alerts.tpl.html" . }}

{{ if .User.HasData }}

<div class="flex justify-end mt-12 relative" id="summary-page" v-scope @vue:mounted="mounted">
    <div class="menu-item flex items-center text-sm font-semibold space-x-2 rounded hover:bg-gray-850 py-2 px-4 cursor-pointer justify-end" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">
        <span class="iconify inline text-2xl text-gray-400 flex-grow" data-icon="fa-regular:calendar-alt"></span>
        <a v-cloak id="current-time-selection" class="text-gray-300 -mb-1">${timeSelection}</a>
        <span class="iconify inline text-2xl text-gray-400" data-icon="akar-icons:chevron-down"></span>
    </div>

    <div v-cloak v-show="state.showDropdownTimepicker" class="z-10 absolute top-0 right-0 popup mt-12 w-40" id="time-picker-dropdown">
        <div class="flex-grow flex flex-col flex bg-gray-850 shadow-md rounded w-40 p-1 ">
            <a id="time-option-today" class="submenu-item hover:bg-gray-800 rounded p-1 text-right w-full text-gray-300 px-2 font-semibold text-sm" href="summary?interval=today"  @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">Today</a>
            <a id="time-option-yesterday" class="submenu-item hover:bg-gray-800 rounded p-1 text-right w-full text-gray-300 px-2 font-semibold text-sm" href="summary?interval=yesterday"  @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">Yesterday</a>
            <a id="time-option-week" class="submenu-item hover:bg-gray-800 rounded p-1 text-right w-full text-gray-300 px-2 font-semibold text-sm" href="summary?interval=week"  @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">This Week</a>
            <a id="time-option-month" class="submenu-item hover:bg-gray-800 rounded p-1 text-right w-full text-gray-300 px-2 font-semibold text-sm" href="summary?interval=month"  @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">This Month</a>
            <a id="time-option-year" class="submenu-item hover:bg-gray-800 rounded p-1 text-right w-full text-gray-300 px-2 font-semibold text-sm" href="summary?interval=year"  @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">This Year</a>
            <a id="time-option-last_7_days" class="submenu-item hover:bg-gray-800 rounded p-1 text-right w-full text-gray-300 px-2 font-semibold text-sm" href="summary?interval=last_7_days"  @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">Past 7 Days</a>
            <a id="time-option-last_30_days" class="submenu-item hover:bg-gray-800 rounded p-1 text-right w-full text-gray-300 px-2 font-semibold text-sm" href="summary?interval=last_30_days"  @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">Past 30 Days</a>
            <a id="time-option-last_12_months" class="submenu-item hover:bg-gray-800 rounded p-1 text-right w-full text-gray-300 px-2 font-semibold text-sm" href="summary?interval=last_12_months"  @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">Past 12 Months</a>
            <a id="time-option-any" class="submenu-item hover:bg-gray-800 rounded p-1 text-right w-full text-gray-300 px-2 font-semibold text-sm" href="summary?interval=any"  @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">All Time</a>
            <hr class="my-2">
            <form id="time-picker-form" class="flex flex-col space-y-1">
                <div class="flex flex-col space-x-1 bg-gray-900 rounded p-1 border-2 border-gray-800">
                    <label for="from-date-picker" class="text-gray-500 text-xs ml-2">Start:</label>
                    <input v-model="fromDate" id="from-date-picker" type="date" name="from" max="{{ .ToTime.T | simpledate }}" class="text-sm text-gray-300 bg-gray-900 cursor-pointer"
                           required @input="onDateUpdated" data-trigger-for="showDropdownTimepicker">
                </div>
                <div class="flex flex-col space-x-1 bg-gray-900 rounded p-1 border-2 border-gray-800">
                    <label for="to-date-picker" class="text-gray-500 text-xs ml-2">End:</label>
                    <input v-model="toDate" id="to-date-picker" type="date" name="to" min="{{ .FromTime.T | simpledate }}" class="text-sm text-gray-300 bg-gray-900 cursor-pointer"
                           required @input="onDateUpdated" data-trigger-for="showDropdownTimepicker">
                </div>
            </form>
        </div>
    </div>
</div>

{{ end }}

<main class="flex flex-col items-center mt-10 flex-grow">

    {{ if .User.HasData }}

    <!-- KPIs -->
    <div class="flex gap-x-6 gap-y-6 w-full mb-4 flex-wrap">
        <div class="flex flex-col space-y-2 w-40 p-4 rounded-md p-4 text-gray-300 bg-gray-850 leading-none border-2 border-green-700">
            <span class="text-xs text-gray-500 font-semibold">Total Time</span>
            <span class="font-semibold text-xl truncate">{{ .TotalTime | duration }}</span>
        </div>
        <div class="flex flex-col space-y-2 w-40 p-4 rounded-md p-4 text-gray-300 bg-gray-850 leading-none border-2 border-green-700">
            <span class="text-xs text-gray-500 font-semibold">Top Project</span>
            <span class="font-semibold text-xl truncate">{{ .MaxByToString 0 }}</span>
        </div>
        <div class="flex flex-col space-y-2 w-40 p-4 rounded-md p-4 text-gray-300 bg-gray-850 leading-none border-2 border-green-700">
            <span class="text-xs text-gray-500 font-semibold">Top Language</span>
            <span class="font-semibold text-xl truncate">{{ .MaxByToString 1 }}</span>
        </div>
        <div class="flex flex-col space-y-2 w-40 p-4 rounded-md p-4 text-gray-300 bg-gray-850 leading-none border-2 border-green-700">
            <span class="text-xs text-gray-500 font-semibold">Top OS</span>
            <span class="font-semibold text-xl truncate">{{ .MaxByToString 3 }}</span>
        </div>
        <div class="flex flex-col space-y-2 w-40 p-4 rounded-md p-4 text-gray-300 bg-gray-850 leading-none border-2 border-green-700">
            <span class="text-xs text-gray-500 font-semibold">Top Editor</span>
            <span class="font-semibold text-xl truncate">{{ .MaxByToString 2 }}</span>
        </div>
    </div>

    <div class="flex flex-wrap w-full justify-center mt-4">
        <div class="w-full lg:w-1/2 p-1" style="max-width: 100vw;">
            <div class="p-4 px-6 pb-10 bg-gray-850 text-gray-300 rounded-md shadow flex flex-col" id="project-container" style="height: 608px">
                <div class="flex justify-between">
                    <span class="font-semibold text-lg w-1/2 flex-1 whitespace-no-wrap">Projects</span>
                    <div class="flex justify-end flex-1 text-xs items-center">
                        <input type="number" min="1" id="project-top-picker" data-entity="0" class="top-picker bg-gray-800 rounded-md text-center w-12" value="10">
                    </div>
                </div>
                <canvas id="chart-projects" class="mt-2"></canvas>
                <div class="hidden placeholder-container flex items-center justify-center h-full flex-col">
                    <span class="text-md font-semibold text-gray-500 mt-4">No data</span>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-1/2 p-1" style="max-width: 100vw;">
            <div class="flex flex-col space-y-2">
                <div class="p-4 px-6 pb-10 bg-gray-850 text-gray-300 rounded-md shadow flex flex-col" id="language-container" style="height: 300px">
                    <div class="flex justify-between">
                        <span class="font-semibold text-lg w-1/2 flex-1 whitespace-no-wrap">Languages</span>
                        <div class="flex justify-end flex-1 text-xs items-center">
                            <input type="number" min="1" id="language-top-picker" data-entity="3" class="top-picker bg-gray-800 rounded-md text-center w-12" value="10">
                        </div>
                    </div>
                    <canvas id="chart-language" class="mt-4"></canvas>
                    <div class="hidden placeholder-container flex items-center justify-center h-full flex-col">
                        <span class="text-md font-semibold text-gray-500 mt-4">No data</span>
                    </div>
                </div>

                <div class="p-4 px-6 pb-10 bg-gray-850 text-gray-300 rounded-md shadow flex flex-col" id="editor-container" style="height: 300px">
                    <div class="flex justify-between">
                        <span class="font-semibold text-lg w-1/2 flex-1 whitespace-no-wrap">Editors</span>
                        <div class="flex justify-end flex-1 text-xs items-center">
                            <input type="number" min="1" id="editor-top-picker" data-entity="2" class="top-picker bg-gray-800 rounded-md text-center w-12" value="10">
                        </div>
                    </div>
                    <canvas id="chart-editor" class="mt-4"></canvas>
                    <div class="hidden placeholder-container flex items-center justify-center h-full flex-col">
                        <span class="text-md font-semibold text-gray-500 mt-4">No data</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="w-full lg:w-1/2 p-1" style="max-width: 100vw;">
            <div class="p-4 px-6 pb-10 bg-gray-850 text-gray-300 rounded-md shadow flex flex-col" id="os-container" style="height: 300px">
                <div class="flex justify-between">
                    <div>
                        <span class="font-semibold text-lg w-1/2 flex-1 whitespace-no-wrap mr-1 cursor-pointer">Operating Systems</span>
                        <span class="font-semibold text-lg w-1/2 flex-1 whitespace-no-wrap ml-1 cursor-pointer text-gray-600" onclick="swapCharts('machine', 'os')">Machines</span>
                    </div>
                    <div class="flex justify-end flex-1 text-xs items-center">
                        <input type="number" min="1" id="os-top-picker" data-entity="1" class="top-picker bg-gray-800 rounded-md text-center w-12" value="10">
                    </div>
                </div>
                <canvas id="chart-os" class="mt-4"></canvas>
                <div class="hidden placeholder-container flex items-center justify-center h-full flex-col">
                    <span class="text-md font-semibold text-gray-500 mt-4">No data</span>
                </div>
            </div>
        </div>
        <div class="hidden w-full lg:w-1/2 p-1" style="max-width: 100vw;">
            <div class="p-4 px-6 pb-10 bg-gray-850 text-gray-300 rounded-md shadow flex flex-col" id="machine-container" style="height: 300px">
                <div class="flex justify-between">
                    <div>
                        <span class="font-semibold text-lg w-1/2 flex-1 whitespace-no-wrap mr-1 cursor-pointer text-gray-600" onclick="swapCharts('os', 'machine')">Operating Systems</span>
                        <span class="font-semibold text-lg w-1/2 flex-1 whitespace-no-wrap ml-1 cursor-pointer">Machines</span>
                    </div>
                    <div class="flex justify-end flex-1 text-xs items-center">
                        <input type="number" min="1" id="machine-top-picker" data-entity="4" class="top-picker bg-gray-800 rounded-md text-center w-12" value="10">
                    </div>
                </div>
                <canvas id="chart-machine" class="mt-4"></canvas>
                <div class="hidden placeholder-container flex items-center justify-center h-full flex-col">
                    <span class="text-md font-semibold text-gray-500 mt-4">No data</span>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/2 p-1" style="max-width: 100vw;">
            <div class="p-4 px-6 pb-10 bg-gray-850 text-gray-300 rounded-md shadow flex flex-col" id="label-container" style="height: 300px">
                <div class="flex justify-between text-lg">
                    <span class="font-semibold whitespace-no-wrap">Labels</span>
                    <a href="settings#data" class="ml-4 inline p-2 hover:bg-gray-800 rounded" style="margin-top: -5px">
                        <span class="iconify inline" data-icon="twemoji:gear"></span>
                    </a>
                    <div class="flex justify-end flex-1 text-xs items-center">
                        <input type="number" min="1" id="label-top-picker" data-entity="5" class="top-picker bg-gray-800 rounded-md text-center w-12" value="10">
                    </div>
                </div>
                <canvas id="chart-label" class="mt-4"></canvas>
                <div class="hidden placeholder-container flex items-center justify-center h-full flex-col">
                    <span class="text-md font-semibold text-gray-500 mt-4">No data</span>
                </div>
            </div>
        </div>
    </div>

    {{ else }}

    <div class="max-w-screen-sm flex flex-col items-center mt-12 space-y-8 text-gray-300">
        <div class="pb-4">
            <img src="assets/images/welcome.svg" width="200px" alt="User welcome illustration">
        </div>
        <h1 class="font-semibold text-3xl text-white m-0 w-full">Welcome to Wakapi!</h1>
        <p>
            It looks like there is no data available for the specified time range.<br>If you logged in to Wakapi for the first time, see the setup instructions below on how to get started.
        </p>
        <div class="w-full pt-10 flex flex-col space-y-4">
            <h1 class="font-semibold text-3xl text-white m-0 mb-2">Setup Instructions</h1>
            <div class="w-full bg-gray-850 text-left rounded-md py-4 px-8 text-xs font-mono shadow-md">
                # <strong>Step 1:</strong> Download WakaTime plugin for your IDE<br>
                # See: https://wakatime.com/plugins<br><br>

                # <strong>Step 2:</strong> Adapt your config<br>
                $ vi ~/.wakatime.cfg<br>

                <!-- https://github.com/muety/wakapi/issues/224#issuecomment-890855563 -->
                # Set <em>api_url = <span class="with-url-inner">%s/api/heartbeat</span></em><br>
                # Set <em>api_key = <span id="api-key-instruction">{{ .ApiKey }}</span></em><br><br>

                # <strong>Step 3:</strong> Start coding and then check back here!
            </div>
        </div>
    </div>

    {{ end }}

</main>

{{ template "footer.tpl.html" . }}

{{ template "foot.tpl.html" . }}

<script>
    const languageColors = {{ .LanguageColors | json }}

    const wakapiData = {}
    wakapiData.projects = {{ .Projects | json }}
    wakapiData.operatingSystems = {{ .OperatingSystems | json }}
    wakapiData.editors = {{ .Editors | json }}
    wakapiData.languages = {{ .Languages | json }}
    wakapiData.machines = {{ .Machines | json }}
    wakapiData.labels = {{ .Labels | json }}
</script>
<script src="assets/js/summary.js"></script>

</body>

</html>