<template id="time-picker-template">
    <div class="menu-item flex items-center text-sm font-semibold space-x-2 rounded hover:bg-card py-2 px-4 cursor-pointer justify-end" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker">
        <span class="iconify inline text-2xl text-secondary grow" data-icon="fa-regular:calendar-alt"></span>
        <a v-cloak id="current-time-selection" class="text-foreground -mb-1">${timeSelection}</a>
        <span class="iconify inline text-2xl text-secondary" data-icon="akar-icons:chevron-down"></span>
    </div>

    <div v-cloak v-show="state.showDropdownTimepicker" class="z-10 absolute top-0 right-0 popup mt-12 w-40" id="time-picker-dropdown">
        <div class="grow flex flex-col flex bg-card shadow-md rounded w-40 p-1 ">
            <a id="time-option-today" class="submenu-item hover:bg-focused rounded p-1 text-right w-full text-foreground px-2 font-semibold text-sm" :href="intervalLink('today')" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker" data-hotkey="d">Today <kbd>D</kbd></a>
            <a id="time-option-yesterday" class="submenu-item hover:bg-focused rounded p-1 text-right w-full text-foreground px-2 font-semibold text-sm" :href="intervalLink('yesterday')" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker" data-hotkey="e">Yesterday <kbd>E</kbd></a>
            <a id="time-option-week" class="submenu-item hover:bg-focused rounded p-1 text-right w-full text-foreground px-2 font-semibold text-sm" :href="intervalLink('week')" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker" data-hotkey="w">This Week <kbd>W</kbd></a>
            <a id="time-option-month" class="submenu-item hover:bg-focused rounded p-1 text-right w-full text-foreground px-2 font-semibold text-sm" :href="intervalLink('month')" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker" data-hotkey="m">This Month <kbd>M</kbd></a>
            <a id="time-option-year" class="submenu-item hover:bg-focused rounded p-1 text-right w-full text-foreground px-2 font-semibold text-sm" :href="intervalLink('year')" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker" data-hotkey="y">This Year <kbd>Y</kbd></a>
            <a id="time-option-last_7_days" class="submenu-item hover:bg-focused rounded p-1 text-right w-full text-foreground px-2 font-semibold text-sm" :href="intervalLink('last_7_days')" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker" data-hotkey="1">Past 7 Days <kbd>1</kbd></a>
            <a id="time-option-last_30_days" class="submenu-item hover:bg-focused rounded p-1 text-right w-full text-foreground px-2 font-semibold text-sm" :href="intervalLink('last_30_days')" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker" data-hotkey="2">Past 30 Days <kbd>2</kbd></a>
            <a id="time-option-last_6_months" class="submenu-item hover:bg-focused rounded p-1 text-right w-full text-foreground px-2 font-semibold text-sm" :href="intervalLink('last_6_months')" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker" data-hotkey="3">Past 6 Months <kbd>3</kbd></a>
            <a id="time-option-last_12_months" class="submenu-item hover:bg-focused rounded p-1 text-right w-full text-foreground px-2 font-semibold text-sm" :href="intervalLink('last_12_months')" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker" data-hotkey="4">Past 12 Months <kbd>4</kbd></a>
            <a id="time-option-any" class="submenu-item hover:bg-focused rounded p-1 text-right w-full text-foreground px-2 font-semibold text-sm" :href="intervalLink('any')" @click="state.showDropdownTimepicker = !state.showDropdownTimepicker" data-trigger-for="showDropdownTimepicker" data-hotkey="a">All Time <kbd>A</kbd></a>
            <hr class="my-2">
            <form id="time-picker-form" class="flex flex-col space-y-1">
                <div class="flex flex-col space-x-1 bg-background rounded p-1 border-2 border-focused">
                    <label for="from-date-picker" class="text-secondary text-xs ml-2">Start:</label>
                    <input v-model="fromDate" id="from-date-picker" type="date" name="from" max="toDate" class="text-sm text-foreground bg-background cursor-pointer" required data-trigger-for="showDropdownTimepicker">
                </div>
                <div class="flex flex-col space-x-1 bg-background rounded p-1 border-2 border-focused">
                    <label for="to-date-picker" class="text-secondary text-xs ml-2">End:</label>
                    <input v-model="toDate" id="to-date-picker" type="date" name="to" :min="fromDate" class="text-sm text-foreground bg-background cursor-pointer" required data-trigger-for="showDropdownTimepicker">
                </div>
                <button type="submit" class="btn-primary btn-small my-1 text-center text-xsi cursor-pointer">Apply</button>

            </form>
        </div>
    </div>
</template>
