body {
    font-family: 'Source Sans 3', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.bg-gray-850 {
    background-color: #242b3a;
}

.hover\:bg-gray-850:hover {
    --bg-opacity: 1;
    background-color: #242b3a;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.text-xxs {
    font-size: 0.65rem;
}

.mt-14 {
    margin-top: 3.5rem;
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1.1;
}

.text-8xl {
    font-size: 5rem;
    line-height: 1.1;
}